<div class="foo">Tmp Intro: <%- intro  %></div>
<div class="foo">Tmp Header: <%- header  %></div>
<div class="foo">Tmp footer: <%- footer  %></div>
<div class="foo"><img src="/img/it_werfs_flammen.jpg" /></div>